header {
  display: flex;
  align-items: center;
  height: 3em;
  background: #eee;
  padding-left: 1em;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;

}

span {
  font-size: 1.5em;
  font-weight: bold;
}

img {
  width: 2em;
}
